body {
    padding: 0;
    margin: 0;
}

/* START MENU */


/*de achtergrond*/
header {
    background-color: rgb(36, 36, 36, 0.9);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    clip-path: circle(0rem at calc(100% - 2rem) calc(100% - 3rem)); /*hoe groot de cirkel*/
    transition: clip-path 0.5s ease-in-out; /*hoe snel het menu opent*/
}

/*hoe het menu tevoorschijn komt*/
.show-menu {
    clip-path: circle(80%); /*maakt de cirkel als het menu opent*/
}


.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-button);
    width: 100%;
}

/*tekst in het menu*/
.kopje {
    font-family: var(--font-poppins);
    font-size: 16px;
    color: var(--button-text-color);
    font-weight: normal;
    margin-top: .4em;
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
    padding: 0 4rem;
    gap: 3.5em;


}

.menu li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}


.svg-home {
    margin-top: .3em;
}

.svg-testing {
    margin-top: .3em;
}

.svg-lessons-nav {
    margin-top: .3em;
}

.svg- {
    margin-top: .3em;
}

.svg-statistics {
    margin-top: .3em;
}

.svg-profile {
    margin-top: .3em;
}


/*de achtergrond van de kopjes*/
.menu .home {
    background-color: var(--home-color);
    width: 5em;
    height: 5em;
    justify-content: center;
    justify-self: end;
    align-self: end;

}

.menu .testing {
    background-color: var(--testing-color);
    width: 5em;
    height: 5em;
    justify-content: center;
    justify-self: start;
    align-self: end;
}

.menu .statistics {
    background-color: var(--statistics-color);
    width: 5em;
    height: 5em;
    justify-content: center;
    justify-self: start;

}

.menu .profile {
    background-color: var(--profile-color);
    width: 5em;
    height: 5em;
    justify-content: center;
    justify-self: end;
    align-self: start;
}

.menu .lessons-nav {
    background-color: var(--lessons-color);
    width: 5em;
    height: 5em;
    justify-content: center;
    justify-self: end;
}


/*hovers over li*/
.home:hover {
    background: var(--background-gradient-all-buttons);
}

.testing:hover {
    background: var(--background-gradient-all-buttons);
}

.statistics:hover {
    background: var(--background-gradient-all-buttons);
}

.lessons-nav:hover {
    background: var(--background-gradient-all-buttons);
}

.profile:hover {
    background: var(--background-gradient-all-buttons);
}




/*dat dit van toepassing is als het scherm 700px en groter is*/
@media screen and (min-width: 700px) {

    .menu .home {
        width: 5.5em;
        height: 5.5em;
    }

    .menu .testing {
        width: 5.5em;
        height: 5.5em;
    }

    .menu .statistics {
        width: 5.5em;
        height: 5.5em;
    }

    .menu .lessons-nav {
        width: 5.5em;
        height: 5.5em;
    }

    .menu .profile {
        width: 5.5em;
        height: 5.5em;
    }

    .kopje {
        font-size: 17px;
    }

    .menu li {
        border-radius: 15px;
    }

}


/*dat dit van toepassing is als het scherm 800px en tot en met 999px is*/
@media screen and (min-width: 800px) and (max-width: 999px) {

    .menu .home {
        width: 6em;
        height: 6em;
    }

    .menu .testing {
        width: 6em;
        height: 6em;
    }

    .menu .statistics {
        width: 6em;
        height: 6em;
    }

    .menu .lessons-nav {
        width: 6em;
        height: 6em;
    }

    .menu .profile {
        width: 6em;
        height: 6em;
    }

    .kopje {
        font-size: 18px;
    }
}


/*dat dit van toepassing is als het scherm 1000px en groter is*/
@media screen and (min-width: 1000px) {

    .menu .home {
        width: 6.5em;
        height: 6.5em;
    }

    .menu .testing {
        width: 6.5em;
        height: 6.5em;
    }

    .menu .statistics {
        width: 6.5em;
        height: 6.5em;
    }

    .menu .lessons-nav {
        width: 6.5em;
        height: 6.5em;
    }

    .menu .profile {
        width: 6.5em;
        height: 6.5em;
    }

    .kopje {
        font-size: 19px;
    }

}


/* EINDE MENU */


/*BEGIN VRAAGTEKEN*/

.vraagteken{  /*waar het vraagteken moet staan*/
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2em;
    margin-bottom: 4em; 
}


article {
    display: none;
}

.show-hulp {
    display: block;
}


/*EINDE VRAAGTEKEN*/



/* START HOME */

/*achtergrond*/
main {
    background-color:var(--home-color);
    background-image: url(/svg/house-mouse.svg);
    height: 100vh;
    background-size: cover; /*dat de achtergrond meebeweegt met de grote van het scherm*/
    background-repeat: no-repeat; /*dat de achtergrond meebeweegt met de grote van het scherm*/
    background-position: center; /*dat de achtergrond meebeweegt met de grote van het scherm*/
    line-height: 1.5;
    gap: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*tekstballon*/
.wolkje {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    height: 7em;
    margin-bottom: 3em;
    border-radius: 1.5em;
    width: 225px;
    margin-left: 1em;
}


/*uitsteksel bij het wolkje om het een tekstwolkje word*/
.wolkje::after {
    content: ""; /*dit moet altijd er staan anders werkt het niet*/
    position: absolute;
    top: calc(100% - .5px); /*hoe groot het is*/
    left: 2em;
    width: 8em;
    height: 3em;

    background-color: inherit;

    clip-path: polygon(40% 0%,
            80% 0%,
            90% 90%,
            40% 0%)
}


/*button let's do it in de tekstballon*/
.lessons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--general-color);
    color: var(--button-text-color);
    font-family: var(--font-poppins);
    font-size: var(--button-text);
    padding: var(--padding-button);
    border-radius: var(--border-radius-button);
}


.lessons:hover {
    background-color: var(--background-gradient-all-buttons);
}


.h1-tekstballon {
    font-family: var(--font-poppins);
    font-size: var(--body-text-paragraph);
    padding: .2em;
    font-weight: normal;
}


/*tekst in wolkje*/
span {
    display: block;
}


/*muis en wolkje samen*/
.info {
    width: 330px;
    margin: 0 auto;
    grid-row: 2;
    align-self: end;
}

/*wolkje na 12 uur 's nachts*/
.moved-down .greeting,
.moved-down .sub-text {
    transform: translateY(-.8em); /*hoe het staat*/
    transition: transform 0.5s ease; /* hoe lang het duurt*/
}


.moved-down .lessons {
    display: none;
}


.moved-down .goodnight-message {
    display: block;
}


/*extra tekst die na 12 uur 's nachts komt*/
.goodnight-message {
    display: none;
    margin-top: -1.5em;
    font-family: var(--font-poppins);
    font-weight: normal;
    font-size: var(--body-text-paragraph);
}

/*tekst tomorrow na 12 uur 's nachts*/
.purple {
    color:var(--lessons-color);
    font-size: var(--body-text-paragraph);
}


button {
    background-color: var(--general-color);
    border-radius: var(--border-radius-button);
    width: 5em;
    height: 5em;
    border: var(--border-button);
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 101; /*dat het elemnt nu boven andere elementen staat*/
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background: var(--background-gradient-all-buttons);
}

/*svg (kruisje) als het menu open is*/
#menuIcon {
    width: 45px;
    height: 45px;
    fill: #ffffff;
}


/* EINDE HOME */