/*de achtergrond*/
header {
    background-color: var(--background-menu);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    clip-path: circle(0rem at calc(100% - 2rem) calc(100% - 3rem));
    /*hoe groot de cirkel*/
    transition: clip-path 0.5s ease-in-out;
    /*hoe snel het menu opent*/
}

/*hoe het menu tevoorschijn komt*/
.show-menu {
    clip-path: circle(80%);
    /*maakt de cirkel als het menu opent*/
}


/*vierkanten in het menu bij elk kopje*/
.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-button);
    width: 100%;
}

/*tekst in het menu*/
.kopje {
    font-family: var(--font-poppins);
    font-size: var(--body-text-paragraph);
    color: var(--button-text-color);
    font-weight: normal;
    margin-top: .7em;
    padding: 0;
}

.kopje:hover {
    text-decoration: var(--underline-text-hover);
}


a:hover {
    border: none;
    /*lijn onder de kopjes*/
}


/*de layout in het menu*/
ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
    padding: 0 4rem;
    column-gap: 1.5em;
}


@keyframes wobble {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}


/*HOME*/

.huis {
    /*vierkant om het huisje*/
    background-color: var(--home-color);
    width: 5em;
    height: 5em;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.home {
    display: flex;
    /* align-items: center; */
    align-self: end;
}

.svg-home {
    /*huisje*/
    display: block;
}

.huis:hover {
    background: var(--background-gradient-all-buttons);
}

.huis.wobble {
    animation: wobble 1s infinite;
}



/*TESTING*/

.testen {
    /*vierkant om de puzzel*/
    background-color: var(--testing-color);
    width: 5em;
    height: 5em;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.testing {
    display: flex;
    /* align-items: center; */
    align-self: end;
}

.svg-testing {
    /*puzzel*/
    display: block;
}

.testen:hover {
    background: var(--background-gradient-all-buttons);
}

.testen.wobble {
    animation: wobble 1s infinite;
}



/*LESSONS*/

.les {
    /*vierkant om het boek*/
    background-color: var(--lessons-color);
    width: 5em;
    height: 5em;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.lessons-nav {
    display: flex;
    /* align-items: center; */
    align-self: center;
}

.svg-lessons {
    /*boek*/
    display: block;
}

.les:hover {
    background: var(--background-gradient-all-buttons);
}

.les.wobble {
    animation: wobble 1s infinite;
}


/*STATISTICS*/

.doelen {
    /*vierkant om het tabel*/
    background-color: var(--statistics-color);
    width: 5em;
    height: 5em;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.statistics {
    display: flex;
    /* align-items: center; */
    align-self: center;
}

.svg-statistics {
    /*tabel*/
    display: block;
}

.doelen:hover {
    background: var(--background-gradient-all-buttons);
}

.doelen.wobble {
    animation: wobble 1s infinite;
}


/*PROFILE*/

.gebruiker {
    /*vierkant om de persoon*/
    background-color: var(--profile-color);
    width: 5em;
    height: 5em;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.profile {
    display: flex;
    /* align-items: center; */
    align-self: start;
}

.svg-profile {
    /*persoon*/
    display: block;
}

.gebruiker:hover {
    background: var(--background-gradient-all-buttons);
}

.gebruiker.wobble {
    animation: wobble 1s infinite;
}


/*EINDE MENU*/





/*TABLET*/

@media screen and (min-width: 800px) {

    .huis {
        /*vierkant om het huisje*/
        width: 6em;
        height: 6em;
    }

    .testen {
        /*vierkant om de puzzel*/
        width: 6em;
        height: 6em;
    }

    .les {
        /*vierkant om het boek*/
        width: 6em;
        height: 6em;
    }

    .doelen {
        /*vierkant om het tabel*/
        width: 6em;
        height: 6em;
    }

    .gebruiker {
        /*vierkant om de persoon*/
        width: 6em;
        height: 6em;
    }



    .home {
        margin-left: 4em;
    }

    .testing {
        margin-left: -4em;
    }

    .lessons-nav {
        margin-left: 4em;
    }

    .statistics {
        margin-left: -4em;
    }

    .profile {
        margin-left: 4em;
    }


    ul {
        column-gap: 0em;
    }

}




@media screen and (min-width: 1000px) {

    .home {
        margin-left: 8em;
    }

    .testing {
        margin-left: -8em;
    }

    .lessons-nav {
        margin-left: 8em;
    }

    .statistics {
        margin-left: -8em;
    }

    .profile {
        margin-left: 8em;
    }
}



@media screen and (min-width: 1200px) {

    .home {
        margin-left: 10em;
    }

    .testing {
        margin-left: -10em;
    }

    .lessons-nav {
        margin-left: 10em;
    }

    .statistics {
        margin-left: -10em;
    }

    .profile {
        margin-left: 10em;
    }
}