body {
    background-color: var(--testing-color);
    padding: 0;
    margin: 0;
}



/*START TESTING*/


main {
    display: grid;
    gap: 2em;
}


/*tekst*/
h1 {
    font-family: var(--font-poppins);
    font-size: var(--heading1);
    color: var(--general-color);
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--font-poppins);
    font-size: var(--heading2);
    color: var(--general-color);
    margin-left: 1em;
}

h3 {
    font-family: var(--font-poppins);
    font-size: var(--heading3);
    color: var(--general-color);
    margin-left: .7em;
}

p {
    font-family: var(--font-poppins);
    font-size: var(--body-text-paragraph);
    color: var(--general-color);
    margin-left: .3em;
}

.tekst-uitleg {
    margin-left: 1.5em;
    margin-right: 1em;
}

.tekst-link {
    color: var(--general-color);
    text-decoration: var(--underline-text-hover);
}

.tekst-link:hover {
    border: none;
}

.how {
    font-weight: var(--text-bold);
    margin-left: .3em;
}

.tijd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .8em;
}

/*privacy statement*/
summary {
    font-family: var(--font-poppins);
    font-size: var(--heading3);
    color: var(--general-color);
    margin: 1em;
}



/*universiteit van Leiden*/
img {
    width: 70px;
    height: 30px;
    margin: 1em;
}

.klok {
    display: flex;
    justify-self: end;
    align-self: center;
}


button {
    background-color: var(--background-color-button);
    border-radius: var(--border-radius-button);
    color: var(--button-text-color);
    font-family: var(--font-poppins);
    font-size: var(--font-size-button);
    border: var(--border-button);
    margin: 1em;
    padding: .5em;
    display: grid;
    grid-template-columns: 85px 15px;
}


.button-img-article {
    display: flex;
    justify-content: space-between;
}

.button-start-test{
    display: flex;
    justify-self: end;
}



/*attention span test*/
.do-test-header-1 {
    background-color: aqua;
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: grid;
    grid-template-columns: 230px 35px 130px;
    grid-template-rows: 1fr;
}

.test-1 {
    background-color: white;
    border-radius: var(--border-radius-button);
    margin: 1em;
}



/*word recognition*/
.do-test-header-2 {
    background-color: aqua;
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: grid;
    grid-template-columns: 230px 35px 130px;
    grid-template-rows: 1fr;
}

.test-2 {
    background-color: white;
    border-radius: var(--border-radius-button);
    margin: 1em;
}



/*the first words 1*/
.do-test-header-3 {
    background-color: aqua;
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: grid;
    grid-template-columns: 230px 35px 130px;
    grid-template-rows: 1fr;
}

.test-3 {
    /* background-color: var(--main-color); */
    background-color: white;
    border-radius: var(--border-radius-button);
    margin: 1em;
}



/*the first words 2*/
.do-test-header-4 {
    background-color: aqua;
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: grid;
    grid-template-columns: 230px 35px 130px;
    grid-template-rows: 1fr;
}

.test-4 {
    /* background-color: var(--main-color); */
    background-color: white;
    border-radius: var(--border-radius-button);
    margin: 1em;
    margin-bottom: 8em;
}


/*EINDE TESTING*/



/*BUTTON MENU*/

.button-menu {
    background-color: var(--general-color);
    border-radius: var(--border-radius-button);
    width: 5em;
    height: 5em;
    border: var(--border-button);
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--button-text-color);
}

button:hover {
    background: var(--background-gradient-all-buttons);
}

/*svg (kruisje) als het menu open is*/
#menuIcon {
    width: 45px;
    height: 45px;
    fill: var(--button-text-color);
}

/*EINDE BUTTON*/



