body {
    background-color: var(--testing-color);
    padding: 0;
    margin: 0;
}


/*START TESTING*/


main {
    display: grid;
}


/*tekst*/
h1 {
    font-family: var(--font-poppins);
    font-size: var(--heading1);
    color: var(--general-color);
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--font-poppins);
    font-size: var(--heading2);
    color: var(--general-color);
    padding-left: 1em;
    padding-top: 1em;
    margin: 0;
}

h3 {
    font-family: var(--font-poppins);
    font-size: var(--heading3);
    color: var(--button-text-color);
    margin-left: .7em;
}

/*tekst in de kopjes*/
p {
    font-family: var(--font-poppins);
    font-size: var(--body-text-paragraph);
    color: var(--general-color);
    margin-left: .3em;
    margin-right: .6em;
}

/*tekst in kopje*/
.how {
    font-weight: var(--text-bold);
    margin-left: .3em;
}

/*tekst bovenaan*/
.tekst-uitleg {
    margin-left: 1.5em;
    margin-right: 1em;
}

.test-uitleg{
    margin-left: 1.5em;
    margin-right: 1em;
}

/*statistics woord*/
.tekst-link {
    color: var(--general-color);
    text-decoration: var(--underline-text-hover);
}

.tekst-link:hover {
    border: none;
}

/*tekst in details*/
.privacy {
    margin-left: 1.5em;
    margin-right: 1em;
}

/*tekst de minuten in kopjes*/
.tijd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .8em;
    color: var(--button-text-color);
}

/*privacy statement*/
summary {
    font-family: var(--font-poppins);
    font-size: var(--heading3);
    color: var(--button-text-color);
    background-color: var(--testing-summary-color);
    list-style: none;
    padding: .5em;
    padding-left: .8em;
    border-radius: var(--border-radius-button);
    font-weight: var(--text-bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

summary::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url('../svg/arrow-down-338-svgrepo-com.svg') no-repeat;
    background-size: cover;
    transition: 0.3s;
  }


/*teskt in summary*/
.privacy-statement {
    margin: 1em;
}

details[open] summary {
    border-radius: var(--border-radius-button);
}

details[open] > summary::after {
    transform: rotate(180deg);
  }


details {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin-bottom: 3em;
    margin-top: 2em;
}


/*universiteit van Leiden*/
img {
    width: 70px;
    height: 30px;
    margin: 1em;
}

/*klok in kopjes*/
.klok {
    display: flex;
    justify-self: end;
    align-self: center;
}

/*alle buttons*/
button {
    background-color: var(--background-color-button);
    border-radius: var(--border-radius-button);
    color: var(--button-text-color);
    font-family: var(--font-poppins);
    font-size: var(--font-size-button);
    border: var(--border-button);
    margin: 1em;
    padding: .5em;
}


.button-img-article {
    display: flex;
    justify-content: space-between;
}

.button-start-test {
    display: flex;
    justify-self: end;
}



/*attention span test*/
.do-test-header-1 {
    background-color: var(--testing-kopje-1-color);
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: flex;
    justify-content: space-between;
}

.klok-tijd{
display: flex;
}


.test-1 {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin: 1em;
}



/*word recognition*/
.do-test-header-2 {
    background-color: var(--testing-kopje-2-4-color);
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: flex;
    justify-content: space-between;
}

.test-2 {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin: 1em;
    margin-bottom: 3em;
}



/*the first words 1*/
.do-test-header-3 {
    background-color: var(--testing-kopje-3-color);
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: flex;
    justify-content: space-between;
}

.test-3 {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin: 1em;
}



/*the first words 2*/
.do-test-header-4 {
    background-color: var(--testing-kopje-2-4-color);
    border-top-left-radius: var(--border-radius-button);
    border-top-right-radius: var(--border-radius-button);
    display: flex;
    justify-content: space-between;
}

.test-4 {
    background-color: var(--wolkje-color);
    border-radius: var(--border-radius-button);
    margin: 1em;
    margin-bottom: 8em;
}


/*EINDE TESTING*/



/*BUTTON MENU*/

.button-menu {
    background-color: var(--general-color);
    border-radius: var(--border-radius-button);
    width: 5em;
    height: 5em;
    border: var(--border-button);
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--button-text-color);
}

button:hover {
    background: var(--background-gradient-all-buttons);
}

/*svg (kruisje) als het menu open is*/
#menuIcon {
    width: 45px;
    height: 45px;
    fill: var(--button-text-color);
}

/*EINDE BUTTON*/





/*TABLET*/ /*LAPTOP*/

@media screen and (min-width: 700px) {

    .test-1 {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .test-2 {
        margin-left: 5em;
        margin-right: 5em;

    }

    .test-3 {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .test-4 {
        margin-left: 5em;
        margin-right: 5em;
    }

    details{
        margin-left: 4em;
        margin-right: 4em;
    }

    h2{
        padding-left: 3.5em;
    }

    .tekst-uitleg{
        margin-left: 5.5em;
        margin-right: 5em;
    }

}



@media screen and (min-width: 1000px){

    .test-1 {
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .test-2 {
        margin-left: 8em;
        margin-right: 8em;

    }

    .test-3 {
        margin-left: 8em;
        margin-right: 8em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .test-4 {
        margin-left: 8em;
        margin-right: 8em;
    }

    details{
        margin-left: 7em;
        margin-right: 7em;
    }

    h2{
        padding-left: 5.5em;
    }

    .tekst-uitleg{
        margin-left: 8.5em;
        margin-right: 7em;
    }

}




@media screen and (min-width: 1200px){


    details{
        margin-top: 3em;
    }
}
